<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .wrapper{ width: 80%; height: 100vh; text-align: center; } .person{ color:
      blue;text-transform: uppercase; } a.link{ margin-top:100px; display:block;
      text-decoration:none; color:white; background-color: blue; padding: 200px;
      border-radius: 5px;} a.link:hover{color: bisque;} h1{ height:100px;
      background-color: #dfdede; }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <h1>Hej! <span class="person">Adres {{email}} jest potwierdzony.</span>! 😎</h1>
      <p>Jesteś już aktywnym użytkownikiem HH . Możesz się zalogować do platformy.</p>
      <table
        width="100%"
        cellspacing="0"
        cellpadding="0"
        style="text-align:center"
      >
        <tr>
          <td>
            <table cellspacing="0" cellpadding="0">
              <tr>
                <td style="border-radius: 2px;" bgcolor="#ED2939">
                  <a
                    href="http://localhost:300/login"
                    target="_blank"
                    style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;"
                  >
                    Zaloguj się
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <p style="margin-top:100px;">lub skopiuj link
        <span>http://localhost:300/login</span></p>
      <p
        style="margin-top:300px; height:200px; background-color: #dfdede;"
      >Jeżeli uważasz że to pomyłka nie podejmuj akcji.</p>
    </div>
  </body>
</html>